/* app css stylesheet */
body {
	background-color: #f3f2ee;
	font-family: Helvetica,"Helvetica Neue",Arial,sans-serif; 
}

.kmcSubNav {
    border-bottom: 2px solid #CCCCCC;
    display: block;
    height: 33px;
    margin-bottom: 1px;
    padding-left: 10px;
    background-color: #FFFFFF;
}
.kmcSubNav a {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 18px;
    color: #555555;
    font: 700 11px arial,sans-serif;
    margin: 7px 0px;
    padding: 3px 9px;
}
.kmcSubNav a.active {
    background: none repeat scroll 0 0 #222222;
    color: #FFFFFF;
}

h1 {
	font-weight: bold;
}

h2.panel-title  {
	font-weight: bold;
	font-size: 150%;
}

h2.section-title  {
	font-weight: bold;
	font-size: 150%;
	margin-top: 30px;
}

hr {
    border-bottom: 1px solid #DDDDDD;
}

hr.section-title {
    margin-bottom: 10px;
    margin-top: 5px;
}

.clear-both {
	clear:both;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.page-title {
	float:left;
}

.green {
	color:#019cfd;
}

.date-range {
	float: right;	
	margin-top: -32px;
}

.header {
	
}

.page {
	margin-right: auto;
  	margin-left: auto;
  	width: 980px; 
}

/* **************************** dashboard *************************** */

.dashboard {
	padding-left: 0px;
	padding-right: 0px;
}

.row.aggregates {
	margin-left: 0px;
	margin-right: 0px;
}

.aggregate-item {
	border: 1px solid #019cfd;
	margin-right: 40px;
	text-align:center;
	padding: 5px 10px 5px 10px;
	height: 215px;
	width: 215px;
	border-radius: 50%;
}

.agg-data {
	margin-top: 54px;
	margin-bottom: -16px;
	font-size: 400%;
	font-weight: bold;
	color: #019cfd;
}
.agg-info {
	font-weight: bold;
	color: #019cfd;
}

.aggregates .aggregate-item:last-child {
	margin-right:0;
}

.entries-list {
	clear:both;
	margin-left:0px;
	margin-right:0px;
}

.entry.agg-odd {
	margin-right: 40px;
}
.entry {
 	width: 470px; 
	height: 265px;
	padding: 0px;
	border-radius: 5px;
}

.entry .panel-footer {
	background-color: #ffffff;
	padding: 10px 0;
}
	

.entry-img {
	float:left;
	text-align: center;
}

.entry-img a {
	margin-top: 10px;
}

.entry-img img {
	width: 200px;
	height: 115px;
}

.entry-info {
	float:right;
	margin-right: 20px;
}

.entry-info p {
	margin-top: 10px;
	text-align: center;
}

.entry-info td {
	padding: 0px 5px 0px 5px;
}
.entry-info tr {
	height: 22px;
}

.entry-time {
	text-align: right;
	margin-top: 8px;
	color: #bbb;
}

.paging-wrapper {
	text-align: center;
	margin-top: -20px;
	background-color: #f8f8f8;
}

/* **************************** entry details *************************** */


.entry-details {
	padding-left: 0px;
	padding-right: 0px;
}


.graphi {
	width:980px;
	height:275px;
	margin-left: 0px;
	margin-right: 0px;
}

.olControlAttribution {
	top:3px;
}

#map {
	width: 100%;
	height: 100%;
}

#mapctrls {
	width: 100%;
	position:relative;
	top:-20px;
	z-index:1001;
}

#mapslider {
	width: 100%;
	top: 18px;
}

.slidertick {
	position: absolute;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.slidertick .title {
	opacity: 0.5;
	font-size:12px;
	font-family: Arial,sans-serif;
}	






