/* app css stylesheet */
body {
	background-color: #f3f2ee;	
}

h1 {
	font-weight: bold;
}

h2.panel-title  {
	font-weight: bold;
	font-size: 150%
}

hr {
    border-bottom: 1px solid #DDDDDD;
}

.clear-both {
	clear:both;
}

.full-width {
	width: 100%;
}

.page-title {
	float:left;
}

.green {
	color:#019cfd;
}

.date-range {
	float: right;	
	margin-top: -32px;
}

.header {
	
}

/* **************************** dashboard *************************** */

.dashboard {
	margin-right: auto;
  	margin-left: auto;
  	max-width: 1200px; 
}

.row.aggregates {
	margin-left: 0px;
	margin-right: 0px;
}

.aggregate-item {
	border: 1px solid #019cfd;
	margin-right: 20px;
	text-align:center;
	padding: 5px 10px 5px 10px;
	height: 185px;
	border-radius: 50%;
}
.agg-data {
	padding-top: 36px;
	font-size: 300%;
	font-weight: bold;
	color: #019cfd;
}
.agg-info {
	font-weight: bold;
	color: #019cfd;
}

.entries-list {
	clear:both;
}

.entry {
	margin: 20px;
 	width: 420px; 
	height: 230px;
	padding: 0px;
}

.entry .panel-footer {
	background-color: #ffffff;
	padding: 10px 0;
}
	

.entry-img {
	float:left;
	text-align: center;
}

.entry-img a {
	margin-top: 10px;
}

.entry-img img {
	width: 180px;
	height: 100px;
}

.entry-info {
	float:right;
}

.entry-info p {
	margin-top: 10px;
	text-align: center;
}

.entry-info td {
	padding: 0px 5px 0px 5px;
}

.entry-time {
	text-align: right;
	margin-top: 8px;
	color: #DDDDDD;