<div class="dashboard container">
	<div class="header">
		<div class="page-title">
			<h1>Live Content (in past 36 hours)</h1>
		</div>
		<div class="clear-both" ></div>
		<div class="date-range">{{reportStartTime | date : 'MMM d H:mm:ss'}} - {{nowTime | date : 'MMM d H:mm:ss'}}</div>
		<div class="clear-both" >
			<input type="checkbox" name="my-checkbox" > Show <span>Live Now</span> Only
		</div>
	</div>
	
	<!-- Aggregates -->
	<div class="row aggregates clear-both">
		<div class="aggregate-item col-md-2" ng-repeat="agg in aggregates">
			<div class="agg-data green">{{agg | formatValue}}</div>
			<div class="agg-info">{{agg.title | textify}}</div>
		</div>
	</div>
	
	<!-- Entries List -->
	<div class="entries-list">
		<!-- Entry -->
		<div class="entry">
			<H2>Live Entry Name</H2>
			<div>
				<div class="entry-img">
					<img class="img" src="http://lorempixel.com/400/200/fashion"/><br/>
					<a class="btn btn-primary" ><span class="glyphicon glyphicon-import"></span> Investigate </a>
				</div>
				<div class="entry-info">
					<table>
						<tr>
							<td>Audience:</td>
							<td>32</td>
						</tr>
						<tr>
							<td>Peak Audience:</td>
							<td>145</td>
						</tr>
						<tr>
							<td>Minutes Viewed:</td>
							<td>32</td>
						</tr>
						<tr>
							<td>Buffering Time:</td>
							<td>00:08</td>
						</tr>
						<tr>
							<td>Average Bitrate:</td>
							<td>10mbs</td>
						</tr>
					</table>
					<p>29 Oct 12:09:00</p>
				</div>
			</div>
		</div>
		
		<!-- Entry -->
		<div class="entry">
			<H2>Live Entry Name</H2>
			<div>
				<div class="entry-img">
					<img class="img" src="http://lorempixel.com/400/200/food"/><br/>
					<a class="btn btn-primary" ><span class="glyphicon glyphicon-import"></span> Investigate </a>
				</div>
				<div class="entry-info">
					<table>
						<tr>
							<td>Audience:</td>
							<td>32</td>
						</tr>
						<tr>
							<td>Peak Audience:</td>
							<td>145</td>
						</tr>
						<tr>
							<td>Minutes Viewed:</td>
							<td>32</td>
						</tr>
						<tr>
							<td>Buffering Time:</td>
							<td>00:08</td>
						</tr>
						<tr>
							<td>Average Bitrate:</td>
							<td>10mbs</td>
						</tr>
					</table>
					<p>29 Oct 12:09:00</p>
				</div>
			</div>
		</div>
		
		<!-- Entry -->
		<div class="entry">
			<H2>Live Entry Name</H2>
			<div>
				<div class="entry-img">
					<img class="img" src="http://lorempixel.com/400/200/"/><br/>
					<a class="btn btn-primary" ><span class="glyphicon glyphicon-import"></span> Investigate </a>
				</div>
				<div class="entry-info">
					<table>
						<tr>
							<td>Audience:</td>
							<td>32</td>
						</tr>
						<tr>
							<td>Peak Audience:</td>
							<td>145</td>
						</tr>
						<tr>
							<td>Minutes Viewed:</td>
							<td>32</td>
						</tr>
						<tr>
							<td>Buffering Time:</td>
							<td>00:08</td>
						</tr>
						<tr>
							<td>Average Bitrate:</td>
							<td>10mbs</td>
						</tr>
					</table>
					<p>29 Oct 12:09:00</p>
				</div>
			</div>
		</div>
	</div>
	
</div>
