<div class="dashboard page container">
	<div class="header">
		<div class="page-title">
			<h1>{{'dashboard.Live_Content_36' | translate}}</h1>
		</div>
		<div class="clear-both" ></div>
		<div class="date-range">{{reportStartTime | date : 'd MMM H:mm:ss'}} - {{nowTime | date : 'd MMM H:mm:ss'}}</div>
		<div class="clear-both" >
			<select ng-model="boardType" >
				<option value="all">{{'dashboard.Show_All_Entries' | translate}}</option>
				<option value="liveOnly">{{'dashboard.Show_Kaltura' | translate}}</option>
			</select>
		</div>
	</div>
	
	<hr />
	
	<!-- Aggregates -->
	<div class="row aggregates clear-both">
		<div class="aggregate-item col-md-3" ng-repeat="agg in aggregates">
			<div class="tooltip-wrap" title="{{agg.tooltip | translate}}">
				<div class="agg-data">{{agg | formatAgg}}</div>
				<div class="agg-info">{{agg.title | translate}}</div>
			</div>
		</div>
	</div>
	
	<hr />
	
	<!-- Entries List -->
	<div class="entries-list row">
		<!-- Entry -->
		<div class="entry panel panel-default col-md-6" ng-class-odd="'agg-odd'" ng-repeat="entry in entries">
			<div class="panel-heading">
		    	<h2 class="panel-title">{{entry.name}}</h2>
		  	</div>
			<div class="panel-body">
				<div class="entry-img">
					<img class="img" ng-src="{{entry.thumbnailUrl}}"/><br/>
				</div>
				<div class="entry-info" >
					<table>
						<tr>
							<td>{{'dashboard.Audience' | translate}}:</td>
							<td>{{entry.audience ? entry.audience : entry.plays}}</td>
						</tr>
						<tr>
							<td>{{'dashboard.Peak_Audience' | translate}}:</td>
							<td>{{entry.peakAudience}}</td>
						</tr>
						<tr>
							<td>{{'dashboard.Minutes_Viewed' | translate}}:</td>
							<td>{{entry.secondsViewed | minutes}}</td>
						</tr>
						<tr>
							<td>{{'dashboard.Buffer_Time' | translate}}:</td>
							<td>{{entry.bufferTime | time}}</td>
						</tr>
						<tr>
							<td>{{'dashboard.Avg_Bitrate' | translate}}:</td>
							<td>{{parseInt(entry.avgBitrate, 10)}}mbs</td>
						</tr>
					</table>
					
				</div>
			</div>
			<div class="panel-footer col-md-12">
				<div class="col-md-6">
					<a class="btn btn-primary" href="#/entry/{{entry.entryId}}"><span class="glyphicon glyphicon-import"></span> {{'dashboard.Investigate' | translate}}</a>
				</div>
				<div class="col-md-6 entry-time" >
					<span class="tooltip-wrap" title="{{'dashboard.first_broadcast_tt' | translate }}">{{entry.startTime | date : 'd MMM H:mm:ss'}}</span>
					<script type="text/javascript">
					$('.tooltip-wrap').tooltip();
					</script> 
				</div>
			</div>
		</div>
	</div>
	
	<hr />
	
	<!-- paging -->
	<div class="paging-wrapper">
		<ul id="pagination" ></ul>
	</div>
	
</div>
