<div class="dashboard page container">
	<div class="header">
		<div class="page-title">
			<h1>Live Content (in past 36 hours)</h1>
		</div>
		<div class="clear-both" ></div>
		<div class="date-range">{{reportStartTime | date : 'd MMM H:mm:ss'}} - {{nowTime | date : 'd MMM H:mm:ss'}}</div>
		<div class="clear-both" >
			<select ng-model="boardType" >
				<option value="all">Show All Entries</option>
				<option value="liveOnly">Show Kaltura Live Now Only</option>
			</select>
		</div>
	</div>
	
	<hr />
	
	<!-- Aggregates -->
	<div class="row aggregates clear-both">
		<div class="aggregate-item col-md-3" ng-repeat="agg in aggregates">
			<div class="agg-data">{{agg | formatAgg}}</div>
			<div class="agg-info">{{agg.title | textify}}</div>
		</div>
	</div>
	
	<hr />
	
	<!-- Entries List -->
	<div class="entries-list row">
		<!-- Entry -->
		<div class="entry panel panel-default col-md-6" ng-class-odd="'agg-odd'" ng-repeat="entry in entries">
			<div class="panel-heading">
		    	<h2 class="panel-title">{{entry.name}}</h2>
		  	</div>
			<div class="panel-body">
				<div class="entry-img">
					<img class="img" ng-src="{{entry.thumbnailUrl}}"/><br/>
				</div>
				<div class="entry-info" >
					<table>
						<tr>
							<td>Audience:</td>
							<td>{{entry.audience}}</td>
						</tr>
						<tr>
							<td>Peak Audience:</td>
							<td>{{entry.peakAudience}}</td>
						</tr>
						<tr>
							<td>Minutes Viewed:</td>
							<td>{{entry.minutes}}</td>
						</tr>
						<tr>
							<td>Buffering Time:</td>
							<td>{{entry.bufferTime | time}}</td>
						</tr>
						<tr>
							<td>Average Bitrate:</td>
							<td>{{entry.bitrate}}mbs</td>
						</tr>
					</table>
					
				</div>
			</div>
			<div class="panel-footer col-md-12">
				<div class="col-md-6">
					<a class="btn btn-primary" href="#/entry/{{entry.entryId}}"><span class="glyphicon glyphicon-import"></span> Investigate </a>
				</div>
				<div class="col-md-6 entry-time" >
					<span>{{entry.startTime | date : 'd MMM H:mm:ss'}}</span> 
				</div>
			</div>
		</div>
	</div>
	
	<hr />
	
	<!-- paging -->
	<div class="paging-wrapper">
		<ul id="pagination" ></ul>
	</div>
	
</div>
