<div class="entry-details page container">
	<div class="header">
		<div class="page-title">
			<h1>Live Content (in past 36 hours)</h1>
		</div>
		<div class="clear-both" ></div>
		<div class="date-range">{{reportStartTime | date : 'd MMM H:mm:ss'}}</div>
		<div class="clear-both" ></div>
	</div>
	
	<hr />
	
	<!-- Aggregates -->
	<div class="row aggregates clear-both">
		<div class="aggregate-item col-md-2" ng-repeat="agg in aggregates">
			<div class="agg-data">{{agg | formatAgg}}</div>
			<div class="agg-info">{{agg.title | textify}}</div>
		</div>
	</div>
	
	<h2 class="panel-title">Audience</h2>
	<hr />
	
	<!-- Graph -->
	<div class="row graphic-content">
<!-- 		<rgraph graphodata="graphdata" height="275" width="980"></rgraph> -->
		<div style="width:100%; height:275px; border: 1px solid #019cfd;">Graph</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<h2 class="panel-title">{{entry.name}}</h2>
			<hr />
			<!-- player -->
			<div style="width:470px; height:265px; border: 1px solid #019cfd;">
				<kplayer pid="346151" uiconf="22767782" entryId="{{entryId}}"></kplayer>
			</div>
		</div>
		<div class="col-md-6">
			<h2 class="panel-title">Location</h2>
			<hr />
			<!-- map -->
			<div style="width:470px; height:265px; border: 1px solid #019cfd;">Map</div>
		</div>
	</div>

	<!-- referals -->
	<div class="row">
		<div class="col-md-6">
			<h2 class="panel-title">Top referals</h2>
			<hr />
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Domain</th>
						<th>Visits</th>
						<th>% of total</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="ref in referals">
						<td>{{$index}}.</td>
						<td>{{ref.domain}}</td>
						<td>{{ref.visits}}</td>
						<td>{{ref.percents}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
